@font-face {
  font-family: 'Fraunces';
  src: url('/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url('/assets/fonts/manrope/Manrope-VariableFont_wght.ttf')
    format('truetype');
}

:root {
  --primary: #24053e;
  --neutral-dark: #584d62;
  --neutral-light: #fcf8ff;
  --accent: #44ffa1;
  --text-dark: #24053e;
  --background-light: #ffffff;
  --text-light: #ffffff;

  --font-heading: 'Fraunces', sans-serif;
  --font-body: 'Manrope', sans-serif;
  --font-button: 'Manrope', sans-serif;
  --font-nav-link: 'Manrope', sans-serif;

  --font-size-heading-large: 80px;
  --font-size-heading-medium: 56px;
  --font-size-heading-small: 32px;
  --font-size-body: 18px;
  --font-size-button: 18px;
  --font-size-nav-link: 18px;

  --font-weight-heading-large: 600;
  --font-weight-heading-medium: 600;
  --font-weight-heading-small: 500;
  --font-weight-body: 300;
  --font-weight-button: 600;
  --font-weight-nav-link: 600;

  --font-line-height-heading-large: 80px;
  --font-line-height-heading-medium: 64px;
  --font-line-height-heading-small: 40px;
  --font-line-height-body: 32px;
  --font-line-height-button: 32px;
  --font-line-height-nav-link: 32px;

  --font-letter-spacing-heading-large: -0.18px;
  --font-letter-spacing-heading-medium: 0;
  --font-letter-spacing-heading-small: 0.18px;
  --font-letter-spacing-body: 0.18px;
  --font-letter-spacing-button: -0.18px;
  --font-letter-spacing-nav-link: -0.18px;

  --anim-trans: 0.2s ease-in-out;
}

html,
body {
  overflow-x: hidden;
  position: relative;
}

.heading_large {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-heading-large);
  font-size: var(--font-size-heading-large);
  line-height: var(--font-line-height-heading-large);
  letter-spacing: var(--font-letter-spacing-heading-large);
}

.heading_medium {
  font-family: var(--font-heading);
  font-size: var(--font-size-heading-medium);
  font-weight: var(--font-weight-heading-medium);
  line-height: var(--font-line-height-heading-medium);
  letter-spacing: var(--font-letter-spacing-heading-medium);
}

.heading_small {
  font-family: var(--font-heading);
  font-size: var(--font-size-heading-small);
  font-weight: var(--font-weight-heading-small);
  line-height: var(--font-line-height-heading-small);
  letter-spacing: var(--font-letter-spacing-heading-small);
}

.body_text {
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--font-line-height-body);
  letter-spacing: var(--font-letter-spacing-body);
}

.text_dark {
  color: var(--text-dark);
}

.text_light {
  color: var(--text-light);
}

.text_center {
  text-align: center;
}

.nav_link {
  text-decoration: none;
  color: var(--text-light);
  font-family: var(--font-nav-link);
  font-weight: var(--font-weight-nav-link);
  font-size: var(--font-size-nav-link);
  line-height: var(--font-line-height-nav-link);
  letter-spacing: var(--font-letter-spacing-nav-link);
  position: relative;
  transition: var(--anim-trans);
}

.nav_link::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--accent);
  position: absolute;
  left: 0;
  bottom: -3px;
}

.nav_link:hover {
  color: var(--accent);
}

.button {
  background-color: var(--accent);
  font-family: var(--font-button);
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-button);
  line-height: var(--font-line-height-button);
  letter-spacing: var(--font-letter-spacing-button);
  color: var(--text-dark);
  border: 2px solid var(--accent);
  transition: var(--anim-trans);
}

.button:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--text-light);
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  :root {
    --font-size-heading-large: 60px;
    --font-size-heading-medium: 48px;
    --font-size-heading-small: 28px;
    --font-size-body: 16px;
    --font-size-button: 16px;
    --font-size-nav-link: 16px;

    --font-weight-heading-large: 600;
    --font-weight-heading-medium: 600;
    --font-weight-heading-small: 500;
    --font-weight-body: 200;
    --font-weight-button: 600;
    --font-weight-nav-link: 500;

    --font-line-height-heading-large: 60px;
    --font-line-height-heading-medium: 56px;
    --font-line-height-heading-small: 40px;
    --font-line-height-body: 28px;
    --font-line-height-button: 32px;
    --font-line-height-nav-link: 32px;

    --font-letter-spacing-heading-large: 0;
    --font-letter-spacing-heading-medium: 0;
    --font-letter-spacing-heading-small: 0.18px;
    --font-letter-spacing-body: 0.18px;
    --font-letter-spacing-button: -0.16px;
    --font-letter-spacing-nav-link: -0.16px;
  }
}

@media screen and (max-width: 375px) {
  :root {
    --font-size-heading-large: 50px;
    --font-size-heading-medium: 32px;
    --font-size-heading-small: 28px;
    --font-size-body: 16px;
    --font-size-button: 16px;
    --font-size-nav-link: 16px;

    --font-weight-heading-large: 600;
    --font-weight-heading-medium: 600;
    --font-weight-heading-small: 500;
    --font-weight-body: 200;
    --font-weight-button: 600;
    --font-weight-nav-link: 500;

    --font-line-height-heading-large: 50px;
    --font-line-height-heading-medium: 48px;
    --font-line-height-heading-small: 36px;
    --font-line-height-body: 28px;
    --font-line-height-button: 32px;
    --font-line-height-nav-link: 32px;

    --font-letter-spacing-heading-large: 0;
    --font-letter-spacing-heading-medium: 0;
    --font-letter-spacing-heading-small: 0;
    --font-letter-spacing-body: 0;
    --font-letter-spacing-button: -0.16px;
    --font-letter-spacing-nav-link: -0.16px;
  }
}
