header {
  width: 100vw;
  height: 730px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: ellipse(100% 100% at 50% 0%);
  position: relative;
  z-index: 3;
}

nav {
  width: 100%;
  margin: 56px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#nav_container {
  width: 1110px;
}

header div {
  width: 100%;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

header div h1 span {
  position: relative;
}

header div h1 span::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--accent);
  position: absolute;
  left: 0;
  bottom: 8px;
}

#hero_img_left {
  position: absolute;
  top: -28px;
  left: -140px;
}

#hero_img_right {
  position: absolute;
  top: 160px;
  right: -50px;
}

header button {
  padding: 11px 30px 14px 29px;
  margin-top: 36px;
}

#hero_img {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 460px;
  z-index: 3;
}

#hero_img img {
  max-width: 767px;
}

#overview {
  width: 100%;
  margin-top: -98px;
  background-color: var(--neutral-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: ellipse(100% 100% at 50% 0%);
  position: relative;
  z-index: 2;
}

#overview_container {
  width: 1114px;
}

.card_container {
  width: 1114px;
  margin-top: 353px;
  margin-bottom: 171px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.card {
  width: 354px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_number {
  width: 56px;
  height: 56px;
  font-family: var(--font-heading);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--neutral-dark);
  border-radius: 50%;
}

.card h2 {
  margin-top: 56px;
}

.card p {
  margin-top: 28px;
}

#call_to_action {
  margin-top: 110px;
  background-color: var(--background-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

#call_to_action_container {
  width: 1112px;
  height: 590px;
  position: relative;
}

#founder_headshot {
  width: 477px;
  height: 477px;
  position: absolute;
  top: 0;
  left: 0;
}

#call_to_action_info_container {
  width: 602px;
  padding: 64px;
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  right: 0;
}

#call_to_action_info_container p,
#call_to_action_info_container button {
  margin-top: 32px;
}

#call_to_action_info_container button {
  padding: 11px 23px 14px 23px;
}

#spiral_3 {
  width: 220px;
  position: absolute;
  bottom: -70px;
  right: 0;
}

footer {
  margin-top: 120px;
}
