/* ================ 
   Hero Section Styles 
   ================ */

header {
  width: 100vw;
  height: 730px;
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: ellipse(120% 100% at 50% 0%);
  position: relative;
  z-index: 3;
}

nav {
  width: 100%;
  margin: 56px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#nav_container {
  max-width: 1190px;
  padding: 0 40px;
  box-sizing: border-box;
}

header div {
  width: 100%;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

header div h1 {
  max-width: 635px;
  margin-top: -15px;
  letter-spacing: 1px;
}

header div h1 span {
  position: relative;
}

header div h1 span::after {
  content: '';
  display: block;
  width: 92%;
  height: 3px;
  background-color: var(--accent);
  position: absolute;
  left: 50%;
  bottom: 6px;
  transform: translateX(-50%);
}

#hero_img_left {
  position: absolute;
  top: -44px;
  left: -140px;
}

#hero_img_right {
  position: absolute;
  top: 154px;
  right: -50px;
}

header button {
  padding: 11px 30px 14px 29px;
  margin-top: 36px;
}

#hero_img {
  width: 100vw;
  margin-left: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 455px;
  z-index: 3;
}

#hero_img img {
  max-width: 767px;
}

/* ================ 
   Overview Section Styles 
   ================ */

#overview {
  width: 100%;
  margin-top: -98px;
  background-color: var(--neutral-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  clip-path: ellipse(127% 100% at 50% 0%);
  position: relative;
  z-index: 2;
}

#overview_container {
  max-width: 1114px;
}

.card_container {
  width: 100%;
  margin-top: 353px;
  margin-bottom: 171px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.card {
  max-width: 354px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card:nth-child(2) {
  margin: 0 24px;
}

.card_number {
  width: 56px;
  height: 56px;
  font-family: var(--font-heading);
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--neutral-dark);
  border-radius: 50%;
}

.card_inner_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card_inner_container h2 {
  margin-top: 56px;
  text-align: center;
}

.card_inner_container p {
  text-align: center;
  margin-top: 28px;
}

/* ================ 
   Call To Action Section Styles 
   ================ */

#call_to_action {
  margin-top: 110px;
  background-color: var(--background-white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

#call_to_action_container {
  width: 1112px;
  height: 590px;
  position: relative;
}

#founder_headshot {
  width: 477px;
  height: 477px;
  position: absolute;
  top: 0;
  left: 0;
}

#call_to_action_info_container {
  width: 602px;
  padding: 64px;
  background-color: var(--primary);
  position: absolute;
  bottom: 5px;
  right: 0;
}

#call_to_action_info_container p {
  letter-spacing: 0.14px;
}

#call_to_action_info_container p,
#call_to_action_info_container button {
  margin-top: 32px;
}

#call_to_action_info_container button {
  padding: 11px 23px 14px 23px;
}

#spiral_3 {
  width: 220px;
  position: absolute;
  bottom: -61px;
  right: 73px;
}

/* ================ 
   Footer Section Styles 
   ================ */

footer {
  width: 100vw;
  margin-top: 116px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer nav {
  width: 100%;
  margin-top: 56px;
  display: flex;
  justify-content: center;
}

footer nav ul {
  width: 116px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

footer nav ul li a {
  transition: var(--anim-trans);
}

footer nav ul li a:hover {
  filter: brightness(50%);
}

/* ================ 
   Tablet Styles 
   ================ */

@media screen and (min-width: 566px) and (max-width: 768px) {
  /* @media screen and (min-width: 375px) and (max-width: 768px) { */
  /* ================ 
   Hero Section Styles 
   ================ */

  header {
    height: 540.24px;
    clip-path: ellipse(140% 100% at 50% 0%);
  }

  nav {
    margin-top: 32px;
  }

  header div h1 {
    max-width: 500px;
  }

  header div h1 span::after {
    width: 84%;
    margin-left: 4px;
  }

  #hero_img_left {
    top: -66px;
    left: -226px;
  }

  #hero_img_right {
    top: 109px;
    right: -94px;
  }

  #hero_img {
    top: 390px;
  }

  #hero_img img {
    max-width: 514px;
  }

  header button {
    padding: 9px 22px 10px 21px;
  }

  /* ================ 
   Overview Section Styles 
   ================ */

  #overview {
    clip-path: ellipse(180% 100% at 50% 0%);
  }

  #overview_container {
    width: 573px;
  }

  .card_container {
    width: 100%;
    margin-top: 250px;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 100%;
    flex-direction: row;
    align-items: stretch;
  }

  .card:nth-child(2) {
    margin: 0;
  }

  .card_number {
    width: 46px;
    height: 44px;
    margin-top: 94px;
    margin-left: -20px;
    font-size: 20px;
  }

  .card_inner_container {
    max-width: 470px;
    margin-left: 32px;
    flex-direction: column;
    align-items: flex-start;
  }

  .card_inner_container h2 {
    margin-top: 46px;
  }

  .card_inner_container p {
    text-align: left;
    margin-top: 15px;
  }

  /* ================ 
   Call To Action Section Styles 
   ================ */

  #call_to_action {
    margin-top: 100px;
  }

  #call_to_action_container {
    width: 689px;
    height: 526px;
  }

  #founder_headshot {
    width: 281px;
    height: 281px;
  }

  #call_to_action_info_container {
    width: 402px;
    padding: 48px 56px 56px 56px;
    bottom: 1px;
  }

  #call_to_action_info_container p {
    font-weight: 300;
  }

  #call_to_action_info_container p,
  #call_to_action_info_container button {
    margin-top: 24px;
  }

  #call_to_action_info_container button {
    padding: 9px 21px 10px 21px;
    letter-spacing: 0;
  }

  #spiral_3 {
    bottom: -106px;
    right: 12px;
  }

  /* ================ 
   Footer Section Styles 
   ================ */

  footer {
    margin-top: 80px;
  }
}

/* ================ 
   Mobile Styles 
   ================ */

/* @media screen and (max-width: 375px) { */
@media screen and (max-width: 565px) {
  /* ================ 
   Hero Section Styles 
   ================ */

  header {
    height: 482px;
    clip-path: ellipse(200% 100% at 50% 0%);
  }

  #nav_container {
    padding: 0 16px;
  }

  header div {
    margin-top: 24px;
  }

  header div h1 {
    max-width: 343px;
  }

  header div h1 span::after {
    width: 82%;
    left: 44%;
    bottom: 3px;
    transform: translateX(-65%);
  }

  #hero_img_left {
    display: none;
  }

  #hero_img_right {
    display: none;
  }

  header button {
    margin-top: 42px;
  }

  #hero_img {
    margin-left: 10px;
  }

  #hero_img img {
    max-width: 320px;
  }

  /* ================ 
   Overview Section Styles 
   ================ */

  #overview {
    clip-path: ellipse(300% 100% at 50% 0%);
  }

  #overview_container {
    max-width: 343px;
  }

  .card_container {
    width: 100%;
    margin-top: 219px;
    margin-bottom: 71px;
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 336px;
    flex-direction: column;
    align-items: center;
  }

  .card:nth-child(2) {
    margin: 0;
  }

  .card_number {
    width: 46px;
    height: 44px;
    margin-top: 40px;
    margin-left: 0;
    font-size: 20px;
    align-items: center;
  }

  .card_inner_container {
    width: 100%;
    margin-left: 0;

    align-items: center;
  }

  .card_inner_container h2 {
    margin-top: 24px;
    text-align: center;
  }

  .card_inner_container p {
    margin-top: 16px;
    text-align: center;
  }

  /* ================ 
   Call To Action Section Styles 
   ================ */

  #call_to_action_container {
    width: 343px;
  }

  #founder_headshot {
    width: 281px;
    height: 281px;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
  }

  #call_to_action_info_container {
    width: 280px;
    padding: 33px 31px 32px 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 50%;
    transform: translateX(50%);
  }

  #call_to_action_info_container h3 {
    text-align: center;
  }

  #call_to_action_info_container p {
    max-width: 290px;
    margin-top: 16px;
    font-weight: 200;
    letter-spacing: 0.14px;
    text-align: center;
  }

  #spiral_3 {
    display: none;
  }

  /* ================ 
   Footer Section Styles 
   ================ */

  footer {
    margin-top: 74px;
  }
}
